VITE_SUPABASE_URL=urlsupabase_anda
VITE_SUPABASE_ANON_KEY=anonkeysupabase_anda

VITE_EMAILJS_SERVICE_ID=isi_dengan_service_id_anda
VITE_EMAILJS_TEMPLATE_ID=isi_dengan_template_id_anda
VITE_EMAILJS_PUBLIC_KEY=isi_dengan_public_key_anda